# This is a CODEOWNERS file.
# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.
# Learn about CODEOWNERS file format: 
#  https://help.github.com/en/articles/about-code-owners

# Default owner for everything in the repository
*       @SZNS/engineering
